*{
    color: #06283D;
    text-align: center;
    scroll-behavior: smooth;

}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
outline: none;
box-shadow: none;
border: 0;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #0d6efd;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0px;

}
.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
}
.navbar-toggler .bottom-bar{
    margin: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}
.bg{
    background-image: url("images/pexels-vlada-karpovich-4050290.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.bg h1{
   padding-top: 100px;
    color: aliceblue;
    text-align: center;
    font-size: 44px;

}
.bg p{
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    padding-bottom: 50px;
}
.bg button{
    color: aliceblue;
}

.right-btn{
    margin-left: 20px;
    
}
.navbar-brand{
    font-size: 40px !important;
}
.nav-link{
    color: #06283D !important;

}
.nav-link:hover{
   color: #a1a6a8 !important;
}
h2{
   
    font-size: 34px !important;
    font-weight: 700 !important;
    padding-bottom: 20px !important;
    color: #0d6efd;
}
h3{
    color: #40a4e7;
    font-size: 26px !important;
}

.my-col-1{
    background-color: #ebf9ff;
    border-radius: 5px;
}
.my-col-1 p{
    color: #06283D;
    font-size: 18px;

}
.my-col-1:hover{
    background-color: #e4e9ec;
    border-radius: 5px;
}


.my-h2 h2{
    color: #40a4e7;;
}
.course{
    background-color: #ebf9ff;
    padding: 30px;
  
}
footer{
    background-color: #ebf9ff;
    width: 100%;
}

@media screen and (max-width: 600px){
    .my-col-1{
        max-width: 80%;
        background-color: #ebf9ff;
        border-radius: 5px;
        margin: 20px auto!important;    
    } 
    
}

